@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.truncated-text {
  overflow: hidden;
  height: 60px; /* initial height */
  transition: height 1s ease; /* transition duration and easing */
}

.not-truncated-text {
  height: auto;
}

input {
  outline: none;
}
